<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <link href="/admin/category.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="sidebar">
        <h2>Category</h2>
      
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/userManagement">Manage Users</a>
        <a href="/admin/CategoryManagement">Category Management</a>
        <a href="/admin/productManagement">Product Management</a>
        <a href="/admin/ordermanagment">Order Management</a>
        <a href="/admin/coupenMenagement">Coupon Management</a>
        <a href="/admin/SalesReport">Sales Report</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="content">
        <div>
            <form action="/admin/addCategory" method="get">
                <h1 class="heading">a   Category Management</h1>
                <div>
                    <button type="submit" id="add" class="btn">Add</button>
                </div>
            </form>
        </div>
      
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Offer Price</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% if (category.length > 0) { %>
                    <% category.forEach(category => { %>
                        <tr>
                            <td><%= category.name %></td>
                            <td><%= category.description %></td>
                            <td><%= category.offerPrice %></td>
                            <td><%= category.status %></td>
                            <td>
                                <form action="/admin/updateCategory/<%= category._id %>" method="post">
                                    <button type="submit" class="ubtn">Update</button>
                                </form>
                                <form action="/admin/deleteCategory" method="post">
                                    <input type="hidden" name="id" value="<%= category._id %>">
                                    
                                    <% if (category.isDeleted) { %>
                                        <button type="submit" class="Dbtn">Restore</button>
                                    <% } else { %>
                                        <button type="submit" class="Dbtn">Delete</button>
                                    <% } %>
                                </form>
                                
                                
                            </td>       
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="5">No categories found.</td>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
  
    
</body>
</html>
